<body class="body-Login-back">
   
    <div class="container">
       
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center logo-margin ">
               <h2>ThankYou For Registered With us!!!</h2>
                </div>
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">                  
                    <div class="panel-body" *ngIf="message">
                       {{message}}
                    </div>
                </div>
             
            </div>
        </div>
         <a routerLink="../../login">Click Here to Login</a>
    </div>


</body>
